
<%- include('header'); -%>

    <div class="banner">
        <div class="main_banner">
            <h2>Welcome To ASK.COM</h2>
            <p>Ask Any Question And <br> Get Answered</p>
            <a href="/ask"  class="ask_question">Ask  Question</a>
        </div>
            
    </div>
  
    

    <div class="container">
        <div class="main_container">
            <div class="left_main_container">

                <div class="answer_details">
                    <div class="answer_details_top">
                        <div class="answer_details_top_left">
                            <img src="/upload/<%= user.img %> " alt="" class="question_profile">
                        </div>
                        <div class="answer_details_top_right">
                            <h3 class="q_title"><%= question.title %></h3>
                     
                            <a href="/category/{{ question.cat_name }}" class="answer_category"><%= question.category %></a>
                            
                            <span class="time"><%= question.time.toLocaleTimeString() %></span>
                            <span class="views"><b>View : 32</b></span>
                        </div>
                       
                        
                    </div>
                    <div class="answer">
                        <p><%= question.description %></p>
                    </div>
                    <div class="likedislike">
                        
                    </div>
                </div>


                <div class="answer_section">
                    <h1>Answer Section</h1>
                    <% answers.forEach(function(answer) { %>
                    <div class="answer_details2">
                        <div class="answer_details_top2">
                            <div class="answer_details_top_left2">
                               <a href="/profile/user/<%= answer.user.user %>"> <img src="/upload/<%= answer.user.img %> " alt="" class="question_profile2"></a>
                            </div>
                            <div class="answer_details_top_right2">
                                <h3 class="q_title2"><%= answer.user.name %></h3>
                         
                            </div> 
                        </div>
                        
                        <div class="answer">
                            <p><%= answer.answerText %></p>
                        </div>
                       
                    </div>
                   
                    <% }); %>
                   


                </div>
                

                <div class="answerformsection">
                    <% if(loged_in == true){%>
                    <form action="/answer/<%= question._id %>" method="post">
                        
                        <textarea name="answer" id="" cols="90" rows="10" placeholder="Please Enter Your Answer"></textarea>
                        <input class="answer-btn" type="submit" value="Answer">
                    </form>
                <%}else{ %>
                        <h1 class="war">You need to login to answer</h1>
                    <% } %>
                </div>


            </div>
            <div class="right_main_container">
            
                <div class="overview">
                    <p class="p1">111<br>  Questions</p>
                <p class="p1">23<br>Answered</p>
                <p class="p1">34%<br>Answered</p>
    
                </div>
                
                <div class="top_user">
                    <h3>Top Users</h3>
                 
                    <div class="user">
                        <a href="/profile/user/{{ value.user }}"><img src="/media/{{ value.img }}"  alt="" class="top_user_logo"></a>
                        <h4 class="name">{{ value.name }}</h4>
                    </div>
               
                   
                </div>
             </div>
        </div>
    </div>
  
    <div class="pagination_section">
        <div class="main_pagination_section">

           
        </div>

    </div>
  

    <div class="footer2">All Right Reserved @ ask.com</div>
    
    
