<% if (loged_in == true){ %>
<%- include('header',{loged_in : loged_in,user : user}); -%>
<% }else{%>
    <%- include('header',{loged_in : loged_in}); -%>
    <% }%>
<div class="banner">
    <div class="main_banner">
        <h2>Welcome To ASK.COM</h2>
        <p>Ask Any Question And <br> Get Answered</p>
        <a href="/ask"  class="ask_question">Ask  Question</a>
    </div>
        
</div>

    <div class="container bg">
        
        <div class="main_container">
            
         <div class="left_main_container">

         <% if (question_available === true){ %>
            <% questions.forEach(function(question){%>
            <div class="question">
                <a href="/profile/user/<%- question.user.user %>" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="/upload/<%- question.user.img %>" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href="/answer/<%= question._id %>/<%= question.title.replace(/\s+/g, '-').toLowerCase(); %>"><h3 class="question_title"><%- question.title %></h3></a>
                <div class="category_section">
                    <a href="/category/{{ value.cat_name }}" class="cat"><%- question.title %></a>
                   
                
                </div>
                <p class="time"><%= question.time.toLocaleTimeString() %></p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <% }); %>
            <% } else{%>

                <p>No question available</p>
            <% } %>
   


    

         </div>
         <div class="right_main_container">
            
            <div class="overview">
                <p class="p1">100<br>  Questions</p>
                <p class="p1">26<br>Answered</p>
                <p class="p1">34%%<br>Answered</p>

            </div>
            
            <div class="top_user">
                <h3>Top Users</h3>
                
                <div class="user">
                    <a href="/profile/user/{{ value.user }}"><img src="/media/{{ value.img }}"  alt="" class="top_user_logo"></a>
                    <h4 class="name">hhh</h4>
                </div>
              
               
            </div>
         </div>
        </div>
       
        <div class="pagination_section">
            <div class="main_pagination_section">

                <!-- <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a> -->
            </div>

        </div>
      
    
          
             
</div>
<div class="footer">All Right Reserved @ ask.com</div>

